* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: 0.5s ease-in-out;
  box-sizing: border-box;
}

*:before *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  padding: 30px;
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input::-webkit-input-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}
input::-moz-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}
input:-ms-input-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*----------------------------------------Start--Project--------------------------------------------------- */
.container {
  max-width: 1600px;
  width: 100%;
  padding: 0.5% 0.5% 0 0.5%;
}

.header {
  background-image: url(../img/Layer3.png);
  background-repeat: no-repeat;
  position: relative;
}
.header__logo {
  padding: 15px 30px 0px 30px;
}
.header__main {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 98%;
}
.header__links {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  .header__links {
    display: none;
  }
}
.header__menu ul {
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 30px;
}
.header__menu ul li {
  padding: 30px 5px;
}
.header__menu ul li a {
  font-size: 16px;
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 12%;
  background-color: rgba(205, 214, 219, 0.1);
}
.header__menu ul li a:hover {
  background-color: none;
  font-size: 25px;
}
.header__word {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px;
}
.header__name h1 {
  font-size: 50px;
  color: white;
  font-weight: bold;
  padding: 15px 0;
}
.header__number h3 {
  font-size: 35px;
  color: yellow;
  font-weight: bold;
  padding: 10px 0;
}
.header__websyte a {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.header__img {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 10px 0 0 0;
}
.header__img img {
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

.best {
  width: 100%;
  background-color: yellow;
  padding: 150px 5% 2% 5%;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: -123px 0 0 0;
}
@media (max-width: 426px) {
  .best {
    width: 100%;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media (max-width: 700px) {
  .best {
    width: 100%;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media (max-width: 900px) {
  .best {
    width: 100%;
  }
}
.best__left {
  width: 70%;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  width: 100%;
}
@media (max-width: 426px) {
  .best__left {
    width: 100%;
  }
}
.best h3 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 20px 5px 10px;
}
.best h2 {
  font-size: 60px;
  font-weight: bold;
  padding: 0px 20px 50px 10px;
}
.best p {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px 50px 10px;
}
.best__button {
  padding: 20px 20px 60px 10px;
}
.best button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  -webkit-border-radius: 20%;
  border-radius: 10px;
}

.best__right {
  width: 30%;
  padding: 40px 0 0 0;
}
@media (max-width: 426px) {
  .best__right {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .best__right {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .best__right {
    width: 100%;
  }
}

.cab {
  font-size: 38px;
  color: #ef9c17;
  padding: 0 0 0 10px;
}

.box {
  height: 330px;
  border: 2px solid white;
  text-align: center;
}
.box__name {
  border: 3px solid black;
  background: black;
  color: white;
  padding: 10px 0 10px 20px;
}
.box__forms {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0 0 0;
}
.box__forms input {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid grey;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto;
  -webkit-box-shadow: 2px 3px 8px 2px black;
  box-shadow: 2px 3px 8px 2px black;
}
.box__choose {
  width: 90%;
  margin: 0 auto;
}
.box__choose input {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid grey;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto;
  -webkit-box-shadow: 2px 3px 8px 2px black;
  box-shadow: 2px 3px 8px 2px black;
}
.box button {
  width: 50%;
  height: 50px;
}
