* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: 0.5s ease-in-out;
  box-sizing: border-box;
}

*:before *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

input::-webkit-input-placeholder {
  color: #8e9293;
  padding: 10px;
  text-overflow: ellipsis;
}
input::-moz-placeholder {
  color: #8e9293;
  padding: 10px;
  text-overflow: ellipsis;
}
input:-ms-input-placeholder {
  color: #8e9293;
  padding: 10px;
  text-overflow: ellipsis;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

/*----------------------------Start--Project---------------- */
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 419px) {
  .container {
    max-width: auto;
    margin: 0 auto;
  }
}

.menu {
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 40%;
}
@media screen and (max-width: 1085px) {
  .menu {
    left: 25%;
  }
}
@media screen and (max-width: 765px) {
  .menu {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition: height 0.3s lianer;
    -moz-transition: height 0.3s lianer;
    -ms-transition: height 0.3s lianer;
    -o-transition: height 0.3s lianer;
    transition: height 0.3s lianer;
  }
  .menu li {
    display: flex;
    -webkit-align-self: center;
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden;
  }
  .menu li a {
    width: 95%;
    text-align: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-align-content: center;
    align-content: center;
  }
}
.menu li a {
  color: #8e9293;
  -webkit-align-self: center;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
@media screen and (max-width: 1085px) {
  .menu li a {
    font-size: 18px;
    padding: 10px;
  }
}
@media screen and (max-width: 542px) {
  .menu li a {
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
  }
}
.menu li a:hover, .menu li a:focus {
  background: #ef9c17;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #000;
}

#checkbox-menu, .toogle {
  display: none;
}

@media screen and (max-width: 765px) {
  .toogle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    width: 100%;
    color: #ef1c35;
    border: 1px solid #d1d1d1;
    margin: 35px 0;
  }
}

#checkbox-menu:checked + label .touch li {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.7s leaner;
  -moz-transition: all 0.7s leaner;
  -ms-transition: all 0.7s leaner;
  -o-transition: all 0.7s leaner;
  transition: all 0.7s leaner;
}

#checkbox-menu:checked + label .touch {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 50%;
  margin: 17px -10px;
}

.header {
  background-image: url(../img/Layer3.png);
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
}
.header__logo {
  padding: 85px 30px 0px 60px;
}
.header__menu {
  position: fixed;
  top: 5%;
  right: 5%;
  width: 40px;
  height: 40px;
}
.header__main {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 765px) {
  .header__main {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.header__word {
  height: 300px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 80px;
}
.header__name h1 {
  font-size: 50px;
  color: #d1d1d1;
  font-weight: bold;
  padding: 15px 0;
}
.header__number h3 {
  font-size: 35px;
  color: #ef9c17;
  font-weight: bold;
  padding: 10px 0;
}
.header__number h3:hover, .header__number h3:focus {
  font-size: 38px;
}
.header__websyte a {
  font-size: 30px;
  color: #d1d1d1;
  font-weight: bold;
}
.header__websyte a:hover, .header__websyte a:focus {
  font-size: 33px;
}
.header__img {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 10px 0 0 0;
}
.header__img img {
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

.best {
  width: 100%;
  background-color: #ef9c17;
  padding: 25% 5% 2% 5%;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: -20.8% 0 0 0;
}
@media (max-width: 901px) {
  .best {
    display: flex;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 150px 20px 20px 20px;
  }
}
.best__left {
  padding: 30px 0 5px 0;
  margin: 0 auto;
  max-width: 550px;
  max-width: 700px;
}
@media (max-width: 600px) {
  .best__left {
    width: 300px;
  }
}
.best h3 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 20px 5px 10px;
}
.best h2 {
  font-size: 60px;
  font-weight: bold;
  padding: 0px 20px 50px 10px;
}
.best p {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px 50px 10px;
  line-height: 1.3;
}
.best__button {
  padding: 20px 20px 60px 10px;
}
.best button {
  width: 60%;
  height: 50px;
  font-size: 20px;
  background: black;
  color: #ef9c17;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.best button:hover, .best button:focus {
  width: 62%;
  height: 50px;
  background: #d0caca;
  color: black;
}

.best__right {
  width: 40%;
  padding: 40px 0 0 0;
  font-size: 38px;
  color: #ef9c17;
  padding: 0 0 0 10px;
}
@media (max-width: 900px) {
  .best__right {
    width: 100%;
    padding-top: 140px;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .best__right {
    width: 300px;
  }
}

.box {
  height: 330px;
  border: 2px solid #ef9c17;
  text-align: center;
}
.box__name {
  border: 3px solid black;
  background: black;
  color: #d1d1d1;
  padding: 10px 0 10px 20px;
}
.box__forms {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0 0 0;
}
.box__forms input {
  width: 99%;
  height: 40px;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto;
  -webkit-box-shadow: 2px 3px 8px 2px black;
  box-shadow: 2px 3px 8px 2px black;
  background: #d1d1d1;
}
.box__forms input:focus {
  border: 3px solid blue;
}
.box__button {
  padding: 40px 0;
}
.box__button button {
  width: 60%;
  height: 50px;
  font-size: 20px;
  background: black;
  color: #ef9c17;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.box__button button:hover, .box__button button:focus {
  width: 62%;
  height: 50px;
  background: #d0caca;
  color: black;
}

#user__name, #user__tel, #user__place, #user__choose {
  padding: 0 20px;
  font-size: 25px;
}

#user__tel {
  text-decoration: none;
}

.tariffs {
  width: 100%;
  -ms-text-align-last: center;
  text-align-last: center;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.tariffs__name {
  padding: 50px;
  font-weight: bold;
  font-size: 50px;
  color: #ef9c17;
}
.tariffs__name span {
  font-size: 60px;
  color: black;
}
.tariffs__card {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  padding: 60px 0;
}
@media (max-width: 800px) {
  .tariffs__card {
    margin-left: 140px;
  }
}
@media (max-width: 650px) {
  .tariffs__card {
    margin-left: 30px;
  }
}
.tariffs__box {
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media (max-width: 1400px) {
  .tariffs__box {
    transform: scale(0.9);
  }
}
@media (max-width: 1124px) {
  .tariffs__box {
    transform: scale(0.8);
    margin: -104px -62px -91px -53px;
  }
}
@media (max-width: 1000px) {
  .tariffs__box {
    transform: scale(0.7);
  }
}
@media (max-width: 810px) {
  .tariffs__box {
    margin: 10px auto;
    transform: scale(1);
  }
}

.tariffs__content {
  border: 2px solid #f5f4f2;
  width: 370px;
  height: 520px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  padding: 15px;
  background: #f5f4f2;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.tariffs__content:hover, .tariffs__content:focus {
  background: #c1c0bf;
}
.tariffs__content img {
  width: 100%;
}
.tariffs__content-name {
  font-size: 30px;
  padding: 10px 15px;
  font-weight: bold;
}
.tariffs__content-text {
  font-size: 20px;
  padding: 10px 15px;
}
.tariffs__content-price {
  font-size: 30px;
  padding: 10px 15px;
}
.tariffs__content-button {
  width: 90%;
  height: 50px;
  padding: 10px 15px;
}
.tariffs__content-button button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  background: #ef9c17;
  color: black;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.tariffs__content-button button:hover, .tariffs__content-button button:focus {
  background: black;
  color: #d1d1d1;
}

.wishbg {
  background-image: url(../img/PLaceBGimage.png);
  background-repeat: no-repeat;
  position: relative;
}

.wish {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 70px;
}
@media (max-width: 550px) {
  .wish {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
  }
}
.wish__titel {
  padding: 90px 0 100px 0;
}
@media (max-width: 1025px) {
  .wish__titel {
    padding: 50px 0 20px 0;
  }
}
.wish__titel-name {
  font-size: 30px;
  color: #ef9c17;
}
.wish__titel-text {
  font-size: 40px;
  color: #d1d1d1;
}
.wish__body {
  width: 100%;
  max-width: 1200px;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin: 0 auto;
}
@media (max-width: 1025px) {
  .wish__body {
    width: 100%;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
}
.wish__body-home, .wish__body-boneses, .wish__body-fast, .wish__body-gps {
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}
.wish__body-home, .wish__body-fast {
  padding-bottom: 80px;
}
@media (max-width: 1025px) {
  .wish__body-home, .wish__body-fast {
    padding-bottom: 15px;
  }
}
.wish__img {
  width: 80px;
  height: 80px;
  border: 1px solid #ef9c17;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #ef9c17;
}
.wish__img img {
  position: relative;
  top: 25px;
}

.home__content, .bonuses__content,
.fast__content, .gps__content {
  width: 370px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 0 0 50px;
}
.home__content h3, .bonuses__content h3,
.fast__content h3, .gps__content h3 {
  font-size: 22px;
  text-align: left;
  padding: 20px 0 15px 0;
  color: #ef9c17;
}
.home__content span, .bonuses__content span,
.fast__content span, .gps__content span {
  font-size: 16px;
  text-align: left;
  color: #d1d1d1;
}

.wish__footer {
  padding-bottom: 50px;
}

.wish__footer-button {
  padding-top: 80px;
}
.wish__footer-button button {
  width: 170px;
  height: 50px;
  font-size: 20px;
  background: #ef9c17;
  color: black;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.wish__footer-button button:hover, .wish__footer-button button:focus {
  width: 170px;
  height: 50px;
  background: black;
  color: #ef9c17;
}

.cabServies {
  background: #fff;
  margin: 0 auto;
  text-align: center;
}
.cabServies__name {
  padding: 70px 0 50px 0;
}
.cabServies__name h2 {
  font-size: 35px;
  padding-top: 5px;
  font-weight: bold;
  font-size: black;
}
.cabServies__name span {
  font-size: 30px;
  color: #ef9c17;
  font-weight: bold;
}
.cabServies__body {
  width: 70%;
  margin: 0 auto;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 50px 0 0 0;
}
.cabServies__content {
  width: 50%;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 10px 0 10px;
}
@media (max-width: 1340px) {
  .cabServies__content {
    margin: 0 auto;
  }
}
.cabServies__content h3 {
  font-size: 22px;
  padding: 10px 10px 40px 10px;
  text-align: left;
  font-weight: bold;
  font-size: black;
}
.cabServies__content span {
  font-size: 16px;
  padding: 10px 10px 70px 10px;
  text-align: left;
  font-size: black;
}
.cabServies__content a {
  padding: 20px 10px 6px 10px;
  text-align: left;
  font-weight: bold;
}
.cabServies__content a:hover, .cabServies__content a:focus {
  padding: 65px 20px 8px 20px;
}
.cabServies__img {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 465px) {
  .cabServies__img {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.cabServies__bg img {
  position: relative;
  left: 165px;
  bottom: 68px;
}
@media (max-width: 1340px) {
  .cabServies__bg img {
    display: none;
  }
}

.happy-clients {
  background-image: url(../img/PlaceyourImage.png);
  background-repeat: no-repeat;
  position: relative;
  height: 600px;
}
@media (max-width: 465px) {
  .happy-clients {
    display: none;
  }
}

.clients {
  margin-top: -75px;
}
@media (max-width: 1340px) {
  .clients {
    margin-top: 50px;
  }
}
.clients__name {
  text-align: center;
  padding: 130px 0 100px 0;
}
.clients__name h2 {
  color: #ef9c17;
  font-size: 30px;
}
.clients__name span {
  color: #d1d1d1;
  font-size: 40px;
}
.clients__coment {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
}
.clients__blog-left, .clients__blog-right {
  background-image: url(../img/Rectangle6.png);
  background-repeat: no-repeat;
  position: relative;
  width: 600px;
  height: 280px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .clients__blog-right {
    display: none;
  }
}
.clients__info {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.clients__info img {
  padding: 3px 15px 0 30px;
}
.clients__info-text {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.clients__info-text h3 {
  color: #ef9c17;
  font-size: 35px;
  padding: 3px 18px 0 18px;
}

.blogs {
  color: #d1d1d1;
  font-size: 16px;
  padding: 40px;
}

.infos {
  color: #d1d1d1;
  font-size: 30px;
  padding: 3px 18px 0 18px;
}

.call24Hour {
  height: 300px;
  background: #ef9c17;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  -webkit-align-content: center;
  align-content: center;
  margin: -10px 0;
}
@media (max-width: 465px) {
  .call24Hour {
    margin: 0 auto;
  }
}
.call24Hour h2 {
  font-size: 30px;
  color: black;
  padding: 70px 0 45px 0;
}
@media (max-width: 923px) {
  .call24Hour h2 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .call24Hour h2 {
    width: 300px;
    margin: 0 auto;
  }
}

.phone__name h3 {
  font-size: 60px;
  color: black;
  height: 70px;
  margin: 0 auto;
}
@media (max-width: 923px) {
  .phone__name h3 {
    font-size: 50px;
  }
}
@media (max-width: 500px) {
  .phone__name h3 {
    font-size: 40px;
  }
}
.phone__name h3:hover, .phone__name h3:focus {
  border: 1px solid black;
  color: #d1d1d1;
  background: black;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

footer {
  background-image: url(../img/footerbg.png);
  position: relative;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (max-width: 1500px) {
  .down {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .down {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.hub {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px;
  -webkit-flex: 32%;
  -ms-flex: 32%;
  flex: 32%;
}
@media (max-width: 800px) {
  .hub {
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
  }
}
.hub__name {
  color: #d1d1d1;
  font-size: 25px;
  padding-bottom: 50px;
  border-bottom: 7px solid #ef9c17;
}
.hub__text {
  color: #d1d1d1;
  padding: 70px 40px 45px 0px;
  font-size: 16px;
}
.hub__social img {
  padding: 0 10px 0 0;
}
.hub__social img:hover, .hub__social img:focus {
  padding: 0 20px 0 0;
}

.download {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 32%;
  -ms-flex: 32%;
  flex: 32%;
  padding: 50px;
}
.download__name {
  color: #d1d1d1;
  font-size: 25px;
  padding-bottom: 50px;
  border-bottom: 7px solid #ef9c17;
}
.download__text {
  color: #d1d1d1;
  padding: 70px 15px 45px 0px;
  font-size: 16px;
}
.download__users {
  color: #d1d1d1;
}
.download__android {
  padding: 0 20px 15px 0;
}
.download__android a {
  color: #ef9c17;
  padding-top: 10px;
  font-size: 20px;
}
.download__android a:hover, .download__android a:focus {
  font-size: 22px;
}
.download__android img {
  padding: 5px 30px;
  text-align: center;
  margin: -12px;
}
@media (max-width: 1250px) {
  .download__android img {
    display: none;
    margin: 0 auto;
  }
}
.download__ios {
  padding: 25px 20px 15px 0;
}
.download__ios a {
  color: #ef9c17;
  font-size: 20px;
}
.download__ios a:hover, .download__ios a:focus {
  font-size: 22px;
}
.download__ios img {
  padding: 5px 30px;
  text-align: center;
  margin: -12px -10px -10px 27px;
}
@media (max-width: 1250px) {
  .download__ios img {
    display: none;
    margin: 0 auto;
  }
}

.contact {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 32%;
  -ms-flex: 32%;
  flex: 32%;
  padding: 50px;
  min-width: 300px;
}
@media (max-width: 800px) {
  .contact {
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
  }
}
.contact__name {
  color: #d1d1d1;
  font-size: 25px;
  padding-bottom: 50px;
  border-bottom: 7px solid #ef9c17;
}
.contact__info {
  padding: 70px 15px 45px 15px;
}
.contact__info a {
  color: #d1d1d1;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
}
.contact__meta-gps, .contact__meta-tel, .contact__meta-email, .contact__meta-website {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 25px;
}
.contact__meta-gps a, .contact__meta-tel a, .contact__meta-email a, .contact__meta-website a {
  width: 240px;
  font-size: 18px;
}
.contact__meta-gps a:hover, .contact__meta-gps a:focus, .contact__meta-tel a:hover, .contact__meta-tel a:focus, .contact__meta-email a:hover, .contact__meta-email a:focus, .contact__meta-website a:hover, .contact__meta-website a:focus {
  font-size: 20px;
  color: #ef9c17;
}
.contact__meta-gps img, .contact__meta-tel img, .contact__meta-email img, .contact__meta-website img {
  padding-right: 20px;
}
