* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: 0.5s ease-in-out;
  box-sizing: border-box;
}

*:before *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100vh;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input::-webkit-input-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}
input::-moz-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}
input:-ms-input-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  text-decoration: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
  text-decoration: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*------------Start--Project---------------- */
.container {
  max-width: 1600px;
  min-width: 600px;
  margin: 0 auto;
}

.header {
  background: url(../imgBusiness/bgbusiness.jpg);
  background-color: grey;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
}
.header__content {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 100px 0 100px 0;
}
.header__name {
  font-size: 70px;
  color: #FFF;
  position: relative;
  top: 50px;
  right: 10%;
}
.header__right {
  font-size: 50px;
  color: #FFF;
  position: relative;
  top: 32%;
  left: 10%;
}
@media (max-width: 1400px) {
  .header__right {
    font-size: 45px;
    color: #FFF;
    top: 20px;
    left: 5%;
  }
}
@media (max-width: 1000px) {
  .header__right {
    font-size: 40px;
    color: #FFF;
    top: 30px;
    left: 0%;
  }
}
@media (max-width: 700px) {
  .header__right {
    font-size: 30px;
    color: #FFF;
    position: absolute;
    left: 30%;
    top: 32%;
    margin: 10px auto;
  }
}
@media (max-width: 600px) {
  .header__right {
    font-size: 30px;
    color: #FFF;
    position: absolute;
    left: 30%;
    top: 32%;
    margin: 10px auto;
  }
}
@media (max-width: 580px) {
  .header__right {
    font-size: 30px;
    color: #FFF;
    position: absolute;
    left: 30%;
    top: 32%;
    margin: 10px auto;
  }
}
.header__tel a {
  color: #FFF;
  padding-bottom: 20px;
}
.header__data h3 {
  position: relative;
  top: 10px;
  left: 70%;
  font-size: 35px;
  width: 125px;
  height: 45px;
}
@media (max-width: 700px) {
  .header__data h3 {
    display: none;
  }
}
.header__top {
  width: 700px;
  text-align: center;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 100px;
}
@media (max-width: 1000px) {
  .header__top {
    left: 30%;
    top: 10%;
  }
}
@media (max-width: 700px) {
  .header__top {
    left: 10%;
    width: 420px;
    padding: 0 0 0 50px;
  }
}
.header__top-name h3 {
  font-size: 30px;
  color: #FFF;
}
.header__top-text {
  font-size: 28px;
  padding: 5px;
  color: #FFF;
}
.header__forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__forms input {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  align-content: center;
  padding: 10px;
}
.header__forms-link {
  padding: 10px;
}
.header__forms-link input {
  padding: 5px;
  margin: 3px;
  text-align: left;
  width: 400px;
  height: 50px;
  padding: 10px;
  border: 1px solid #EF9C17;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #58606d;
}
.header__forms-link inputplaceholder {
  color: #EF9C17;
}
.header__forms-button {
  padding: 10px;
}
.header__forms-button button {
  width: 200px;
  height: 50px;
  text-align: center;
  border: 1px solid black;
  background-color: #ef9c17;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.header__forms-button button:hover {
  background-color: #ffff;
}

#user__name, #user__company,
#user__email, #user__tel {
  padding: 0 15px;
  font-size: 22px;
  color: #000000;
}

.content {
  height: 100%;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: relative;
}
@media (max-width: 1000px) {
  .content {
    height: 100%;
  }
}
@media (max-width: 700px) {
  .content {
    left: 20%;
    top: 20%;
    width: 450px;
  }
}
@media (max-width: 600px) {
  .content {
    left: 10%;
    top: 10%;
    width: 420px;
  }
}
@media (max-width: 500px) {
  .content {
    left: 3%;
    top: 10%;
    width: 400px;
  }
}
.content__name {
  margin: 0 auto;
  padding: 0 10px;
}
.content__name h1 {
  text-align: center;
  padding: 50px 0;
  font-size: 40px;
}
@media (max-width: 700px) {
  .content__name h1 {
    font-size: 30px;
    width: 400px;
    text-align: center;
  }
}
.content__top, .content__down {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 60px 0;
}
@media (max-width: 1000px) {
  .content__top, .content__down {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding: 0;
  }
}
@media (max-width: 700px) {
  .content__top, .content__down {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding: 0;
  }
}
.content__top-peronal, .content__top-order, .content__top-pay, .content__top-messenger, .content__top-support, .content__down-peronal, .content__down-order, .content__down-pay, .content__down-messenger, .content__down-support {
  max-width: 32%;
  width: 300px;
  margin: 0 25px;
  padding: 0px 10px 10px 10px;
}
@media (max-width: 1000px) {
  .content__top-peronal, .content__top-order, .content__top-pay, .content__top-messenger, .content__top-support, .content__down-peronal, .content__down-order, .content__down-pay, .content__down-messenger, .content__down-support {
    margin: 15px auto;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .content__top-peronal, .content__top-order, .content__top-pay, .content__top-messenger, .content__top-support, .content__down-peronal, .content__down-order, .content__down-pay, .content__down-messenger, .content__down-support {
    margin: 15px auto;
    text-align: center;
  }
}
.content__top-peronal h2, .content__top-order h2, .content__top-pay h2, .content__top-messenger h2, .content__top-support h2, .content__down-peronal h2, .content__down-order h2, .content__down-pay h2, .content__down-messenger h2, .content__down-support h2 {
  font-size: 28px;
  padding: 10px;
  font-size: 20px;
}
.content__top-peronal span, .content__top-order span, .content__top-pay span, .content__top-messenger span, .content__top-support span, .content__down-peronal span, .content__down-order span, .content__down-pay span, .content__down-messenger span, .content__down-support span {
  font-size: 18px;
  width: 90%;
  padding: 10px;
}

.forms {
  background-image: url(../imgBusiness/bg3section.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 100%;
  width: 100%;
}
@media (max-width: 1300px) {
  .forms {
    background-size: 190%;
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .forms {
    background-size: 190%;
    height: 100%;
  }
}
@media (max-width: 1100px) {
  .forms {
    background-size: 190%;
    height: 100%;
  }
}
@media (max-width: 1000px) {
  .forms {
    background-size: 190%;
    height: 100%;
  }
}
@media (max-width: 730px) {
  .forms {
    background-size: 200%;
    height: 100%;
  }
}
@media (max-width: 625px) {
  .forms {
    background-size: 210%;
    height: 100%;
  }
}
@media (max-width: 500px) {
  .forms {
    background-size: 220%;
    height: 100%;
  }
}
.forms__name {
  margin: 0 auto;
  padding: 120px 0 30px 0;
  width: 51%;
  font-size: 40px;
  text-align: center;
  color: #090f0f;
}
@media (max-width: 700px) {
  .forms__name {
    padding: 30px 0;
  }
}
@media (max-width: 700px) {
  .forms__name {
    font-size: 25px;
    text-align: center;
    color: #090f0f;
  }
}
.forms__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 700px) {
  .forms__box {
    width: 80%;
  }
}
.forms__box input {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  align-content: center;
  padding: 10px;
}
.forms__box-link {
  padding: 10px;
}
@media (max-width: 700px) {
  .forms__box-link {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 625px) {
  .forms__box-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.forms__box-link input {
  margin: 8px;
  text-align: left;
  width: 600px;
  height: 50px;
  padding: 10px;
  border: 1px solid #EF9C17;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #58606d;
}
.forms__box-link inputplaceholder {
  color: #EF9C17;
}
@media (max-width: 700px) {
  .forms__box-link input {
    width: 100%;
  }
}
.forms__box-button {
  padding: 10px;
}
.forms__box-button button {
  width: 200px;
  height: 50px;
  text-align: center;
  border: 1px solid black;
  background-color: #ef9c17;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.forms__box-button button:hover {
  background-color: #ffff;
}
.forms__social {
  padding: 80px 50px 50px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 700px) {
  .forms__social {
    flex-direction: column;
  }
}
.forms__social-left {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.forms__social-left h3 {
  font-size: 20px;
  padding: 0 30px 0 0;
  color: #EF9C17;
}
.forms__social-left img {
  padding: 0 12px 0 0;
}
.forms__social-right {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
